div.main {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	height: auto;
}

div.banner {
	width: 100%;
	height: auto;
}

div.menu {
	float: left;
	width: 100%;
	height: 40px;
	background-color: maroon;
}

div.menu ul li {
	list-style-type: none;
	padding-left: 30px;
	padding-right: 10px;
	float: left;
	height: 30px;
	font-size: 20;
	color: white;
	text-decoration: none;
}

div.menu ul li:hover {
	color: #c7733c;
}
.menu ul li a{
	text-decoration: none;
	color: white;
}

.sub-menu {
	float: left;
	width: 80%;
	height: 40px;
	text-align: center;
	margin-left: 100px;
	background-color: #efae8f;
	margin-top: 
}

.sub-menu ul li {
	list-style-type: none;
	padding-left: 30px;
	padding-right: 10px;
	float: left;
	height: 30px;
	color: #412718;
}

.sub-menu ul li{
	color: white;
} 
div.content {
	width: 100%;
	height: auto;
	float: left;
}

div.box-new {
	width: 90%;
	height: 300px;
	margin:20px 0 10px 50px;
	border: 1px solid #09F;
	float: left;
}
div.box{
	width: 90%;
	height: auto;
	margin:20px 0 10px 50px;
	border: 1px solid #09F;
}
div.box-left {
	width: 30%;
	height: auto;
	float: left;
	padding: 5px 0 0 20px;
}
div.box-right {
	width: 50%;
	height:100%;
	float: right;
	padding-right:10%;
}

div.box-child {
	border: 1px solid;
	width: 30%;
	height: auto;
	margin: 1.5%;
	float: left;
}

div.box-images{
	width:90%;
	padding: 5%;
}
div.box-name{
	width:100%;
	height:40px;
	text-align: center;
	color: #09F;
	font-size: 20px;
	font-weight: bold;
}
div.box-num{
	
}
p.headline {
	color: #09F;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
p.headline-news{
	color: #09F;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
p.abridge {
	color: #09F;
	font-size: 16px;
	text-indent: 20px;
}

div.footer {
	width: 100%;
	height: 120px;
	background-color: gray;
	text-align: center;
}

.sc ul {
	width: 100%;
	height: auto;
	float: left;
	text-align: center;
}

.sc ul li {
	width: 200px;
	text-align: right;
	list-style-type: none;
	float: left;
}

div.clear {
	clear: both;
}

.btn-add-food{
	border:1px solid blue;
	width:100px;
	text-decoration: none;
}
.btn-add-food hover:HOVER {
	text-decoration: none;
	background-color: orange;
}