.main{
	margin-left: auto;
	margin-right: auto;
	width:85%;
	height:auto;
}
.banner{
	width:100%;
	height:250px;
	background-color:red;
}
.menu{
	list-style-type:none;
	width:100%;
	height:40px;
	background-color:#efae8f;
	
}
.menu ul li{
	list-style-type:none;
	display:inline-table;
	width:150px;
	height:40px;
	line-height:40px;
	position: relative;
}
.menu ul li a{
	color:black;
	display: block;
	text-decoration: none;
}

.menu ul li a{
	color:white;
	display: block;
	text-decoration: none;
}
.menu ul li a:HOVER{
	background:#0080ff;
	text-decoration: none;
	color: black;
}
 .menu ul li > .sub-menu{
	display: none;
	position: absolute;
}
.menu ul li:HOVER .sub-menu{
	display: block;
	background-color:#0080ff; 
}
.content{
	width:100%;
	height:auto;
	float:left;
}

div.box{
	width:100%;
	height:auto;
}
table{
	width:95%;
	overflow: hidden;
	border-collapse: collapse;
	
}
 th,td{
	border:1px solid;
	max-height: 100px;
	overflow: hidden;
	max-width: 12%;
}
div.submit{
	text-align:center;
	margin-top: 40px;
	height:40px;
}

div.clear{
	clear:both;
}