/*Code pháº§n header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111;
    color: white;
    padding: 15px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.header-left {
    font-size: 1.7em;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to right, #4CAF50, #2196F3, #9C27B0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.header-left img{
    width: 50px;
    height: 50px;
}
.header-center {
    display: flex;
    align-items: center;
    gap: 30px;
}
.search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
}
.search-bar input {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    width: 300px;
    background-color: #cfcfcf;
}
.search-bar button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #1e90ff;
    color: white;
    cursor: pointer;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
nav ul li a:hover{
    color: #1e90ff;
}
.header-right {
    display: flex;
    gap: 15px;
}
.header-right a {
    color: white;
    text-decoration: none;
}
.header-right a:hover {
color: #1e90ff;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    padding-top: 40px; 
    min-height: 100vh;
}